<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rocket Editor</title>
</head>
<body>

    <form th:action="@{/admin/rocket-editor}" th:object="${rocket}" method="post">
        <div><label> Name: <input type="text" id="name" name="name"/> </label></div>
        <div><label> Description: <textarea id="description" name="description"></textarea> </label></div>
        <div><input type="submit" value="Save"/></div>
    </form>

</body>
</html>