<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
    </head>

    <body>
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div><label> Name: <input type="text" id="name" name="name"/> </label></div>
            <div><label> Email: <input type="text" id="email" name="email"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Register"/></div>
        </form>
    </body>
</html>